# Auto detect text files and perform LF normalization
* text=auto
Codes/Chpt9)_CNN/data/cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
train-images-idx3-ubyte filter=lfs diff=lfs merge=lfs -text
data_batch_* filter=lfs diff=lfs merge=lfs -text
test_batch filter=lfs diff=lfs merge=lfs -text
t10k-images-idx3-ubyte filter=lfs diff=lfs merge=lfs -text
train-labels-idx1-ubyte filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
